{% extends "layout.html" %}

{% block title %}
    User Login
{% endblock title %}

{% block content %}
    <section>
        <p>User Login</p>
        <form class="form-with-validation" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}
            <button class="form-submit">Login</button>
        </form>
    </section>
{% endblock content %}