{% extends "layout.html" %}

{% block title %}
    Equipment Detail
{% endblock title %}

{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-container" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <div class="container rounded-3 detail-container">
        <div class="container rounded-3 inner-detail-form-container">
            <div class="container detail-header-container">
                <p class="header header-detail">{{ equipment.name }}</p>
                <div class="eq-header-cat">                
                    <p>{{ equipment.category }}</p>
                </div>
            </div>    
            <div class="container">
                <div class="row">
                    <div class="col-6 text-center">
                        <img src="{{ equipment.get_banner_url }}" class="img-fluid rounded" alt="{{ equipment.name }}">
                    </div>
                    <div class="col d-flex flex-column">
                        <div class="row">
                            <p class='card-details-title'>Equipment details</p>
                            <p>Category: {{ equipment.category|title }}</p>
                            <p>Level: {{ equipment.level|title }}</p>
                            <p>Length: {{ equipment.length }} cm</p>
                            <p class='eq-detail-description'>{{ equipment.description }}</p>
                        </div>
                        <div class="column-content mt-auto">
                            {% if user.is_authenticated %}
                            <form method="POST" class="detail-form-container">
                                {% csrf_token %}
                                {% comment %} <div class="row g-3">
                                    <div class="form-group col-md-6">
                                        <label class="label" for="startDate">Start date</label>
                                        <input type="date" class="form-control" id="detail-start-date" name="start_date" value="{{ start_date }}" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="label" for="endDate">End date</label>
                                        <input type="date" class="form-control" id="detail-end-date" name="end_date" value="{{ end_date }}" required>
                                    </div>
                                </div> {% endcomment %}
                                <div class="row g-3">
                                    <div class="d-grid gap-2 col-12">
                                        <button type="button" class="btn btn-warning btn-block reserve-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Reserve
                                        </button>
                                    </div>
                                </div>
                            </form>
                            {% else %}
                            <form method="POST" action="." class="detail-form-container">
                                <div class="row g-3">
                                    <div class="d-grid gap-2 col-12" tabindex="0" data-bs-toggle="tooltip" data-bs-title="Login to make reservation">
                                        <button type="button" class="btn btn-warning btn-block reserve-btn" disabled>Reserve</button>
                                    </div>
                                </div>      
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content detail-form-container">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Equipment Reservation Form</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if user.is_authenticated %}
            <form method="POST" id="reservationForm">
                {% csrf_token %}
                <div class="modal-body reservation-form-body modal-dialog-scrollable">
                    <div class="row reservation-form-detail">
                        <div class="reservation-form-header">What's in Your Snowbag</div>
                        <div class="container deatil-summary-container">
                            <table class="table table-padding">
                                <thead>
                                    <tr>                                      
                                      <th scope="col"></th>
                                      <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>                                    
                                    <tr>                                        
                                        <td>Equipment name:</th>
                                        <td>{{ equipment.name }}</td>
                                    </tr>
                                    <tr>                                        
                                        <td>Category:</th>
                                        <td>{{ equipment.category }}</td>
                                    </tr>
                                    <tr>                                        
                                        <td>Level:</th>
                                        <td>{{ equipment.level|title }}</td>
                                    </tr>
                                    <tr>                                        
                                        <td>Length:</th>
                                        <td>{{ equipment.length }} cm</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>       
                    <div class="row g-3">
                        <div class="reservation-form-header">Reservation Form</div>                 
                        <div class="col-12 flex-nowrap no-margin">
                            <label class="label" for="name">Name</label>
                            <input class="form-control py-2 border-right-0 border" type="text" id="name" name="equipment_name" placeholder="Name" value="{{ username }}" disabled>
                        </div>          
                        <div class="col-12 flex-nowrap">
                            <label class="label" for="phone-number">Phone number</label>
                            <input class="form-control py-2 border-right-0 border" type="text" id='phone-number' name='reservation_phone_number' placeholder="Phone number" value="{{ phone_number }}">
                            <div id="phone-error" class="invalid-feedback d-none">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="label" for="reservation-start-date">Start date</label>
                            <input type="date" class="form-control border-right-0 border" id="reservation-start-date" name="start_date" value="{{ start_date }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="label" for="reservation-end-date">End date</label>
                            <input type="date" class="form-control border-right-0 border" id="reservation-end-date" name="end_date" value="{{ end_date }}">
                        </div>
                        <div class="col-12 date-error-div">
                            <div id="date-error" class="invalid-feedback d-none">
                            </div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input warning-check" type="checkbox" value="" id="check-agreement">
                            <label class="form-check-label text-small" for="checkDefault">
                                I have read and agree to the Terms and Conditions, including the reservation policy, equipment usage guidelines, and cancellation rules.
                            </label>
                        </div>
                    </div>                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>                    
                    <button type="submit" class="btn btn-warning disabled" id="reserve-btn">Reserve</button>                                       
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
