@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkGray: rgb(15,51,65);
    --darkYellow: rgb(255,200,34);
    --whiteColor: white;
    --grayColor: #e0e0e0;
    --halfwhite: #f8f9fa;   

    --h6-size: .75rem;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;
    color: black;
    font-size: 1.1rem;
    overflow-x: hidden;  
}

