@import "./global.css";


.navbar { 
  background-color: var(--darkGray);
  user-select: none;
  -webkit-user-select: none;
  box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.2);
  padding: .2rem 2rem;
}

.navbar-text,
.navbar-brand,
.nav-link {
  color: white;
}

.navbar-brand {
  font-size: 1.5rem;
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar-nav .active.nav-link {
  color: rgba(255, 193, 7);
}

main {
  margin-bottom: 2.5rem;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  opacity: .85;
}

.header {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}
/***** footer *****/
.footer-container {
  background-color: rgba(33, 37, 41, 0.9);
  color: white;
}

.inner-footer-container {
  padding: .8rem 0;
}


/***** home *****/
.carousel-container{
  min-width: 100vw;
  padding: 0;
  margin-top: 0;
  object-fit: cover;
}

.carousel-item {
  position: relative;
}

.carousel-img {
  max-height: 36rem;
  object-fit: cover;
  width: 100%;
}

.carousel-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.carousel-item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

.header-quote {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.8rem;

  text-align: center;
  padding: 6.6rem 0;
}

.section-text {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.lead {
  margin: 1.1rem 0;
}

.main-hr {
  margin: 2.5rem 0;
}

/****** equipment_list ******/
.main-container {
  max-width: 96rem;
}

/* form */
.form-container {    
  max-width: 68rem;
  margin-top: 3rem;
  padding: 2rem;  
  background-color: rgba(30,102,130,0.1);
}

.search-btn {
  font-size: 1.1rem;
  margin-top: 1.5rem;
}

/* equipment_list cards */
.card-con { 
  max-width: 96rem;
}

.card-equipment-level {
  font-weight: 600;
  padding: .2rem;
}

.card-equipment-category {
  color: darkgray;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.card-hr {
  margin: .4rem .2rem .8rem .2rem;
}

.card-text {
  /* text-align: justify; */
  text-justify: inter-word;
  overflow: hidden;
  display: -webkit-box;
  display: box; 
  -webkit-line-clamp: 3;
  line-clamp: 3; 
  -webkit-box-orient: vertical;
  box-orient: vertical; 
}

/* pagination */
.paginator-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}


/***** equipment_detail *****/
/* reservation form */
.detail-container {   
  max-width: 90rem;
  margin: 3rem 0;
  padding: 2rem;  
  background-color: rgba(30,102,130,0.1);
}

.detail-header-container {
  padding: 0;
  margin: 0 1rem;
}


.inner-detail-form-container { 
  max-width: 90rem;
  background-color: white;
  padding: 2rem;  
}

.header-detail {
  padding: 0;
  margin-bottom: 0;
}

.eq-header-cat {
  color: darkgray;
  font-size: 1rem;
}

.eq-detail-description {
  text-align: justify;
  text-justify: inter-word;
}

.card-details-title {
  font-size: 1.1rem;
}

.reserve-btn {
  margin-top: .5rem;
}

.alert-container {
  margin-top: 2rem;
  margin-bottom: 0;
}

.reservation-label {
  text-align: center;
  margin-left: .5rem;
}

.reservation-form-body {
  padding: 1rem 2rem;
}

.reservation-form-header {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: .8rem;
}

.reservation-form-detail p {
  margin-bottom: .5rem;
  font-size: 1rem;
}

.deatil-summary-container {
  padding-bottom: 1.5rem;
}


/***** users_account *****/
.user_reservation {
  color: black;
}

.con_user_reservation {
  display: flex !important;
  align-items: center !important;
}

.account-container {
  margin-bottom: 3rem;
}

/***** users_login *****/
.login-body {
  background-color: var(--halfwhite) !important;
}

.login-form-container {
  min-width: 20rem;
  width: 40%;
  max-width: 30rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: white;
  border-width: .1rem;
  padding: 3rem;
  background-color: white;
}

.login-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.login-form-input {
  padding-bottom: .5rem;
}


/***** users_register *****/
.registration-body {
  padding: 0 !important;
}
.container-fluid {
  padding: 0;
}

.banner {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: var(--halfwhite);
}

.banner-img {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--halfwhite);
  padding: 2rem;

}

.register-form-container {
  width: 90%; /* Set to a flexible width (90%) */
  max-width: 500px; /* Set a maximum width to prevent it from growing too large */
}






.form-with-validation {
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.form-with-validation div {
  display: flex;
  flex-flow: column;
  gap: .5rem;
}

.form-with-validation input {
  padding: .25rem;
  max-width: 300px;
}

.form-submit {
  font-weight: 600;
  border-style: solid;
  padding: .5rem;
  border-radius: .8rem;
  width: 8rem;
  cursor: pointer;
}

.form-submit:hover {
  opacity: .65;
}

.helptext {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.helptext ul {
  list-style-type: none;  
}

.errorlist {
  color: #F00;
  margin-left: 1rem;
}

.errorlist li::marker {
  content: '🚨 ';
}


/***** register *****/
.login-layer {
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  background-color: whitesmoke;;
}

.login-layer-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-layer-form {
  max-width: 60rem;
  padding: 2rem;  
  background-color: rgba(30,102,130,0.1);
  font-size: .9rem;
}




/* GLOBAL */

.text-small {
  font-size: var(--h6-size);
}

.label {
  font-size: var(--label-size);
  font-weight: 600;
}

.no-margin {
  margin: 0;
}

.table-padding,
.table-padding th,
.table-padding td {
  line-height: 1rem;
}
